body{
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header,
footer {
	background-color: #aaa;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.highlight-name {
    color: darkblue;
}
h3 {
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #36454f;
    margin: 0;
    max-width: 5000px;
    height: 70px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9); ;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 6rem;

}


nav ul li a:hover {
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: aqua;
}


#first-title, #third-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    height: 70px;
    margin: -1rem;


}
p.first {
    float: left;
    margin-right: 1rem;
    margin-top: 3rem;
}
#my-picture {
    width: 250px; 
    height: auto;
    border-radius: 50%; 
    border: 2px solid #ccc;
    margin-right: 10rem;
    margin-top: 3rem;
}

p.second {
    float: right;
    margin-right: 4rem;
}

#flag {
    float: none;
    margin-right: 1rem;
    width: 100px; 
    border-radius: 8px; 
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex; 
    flex-wrap: wrap; 
    gap: 1rem; 
    justify-content: center; 
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: calc(30% - 1rem); 
    box-sizing: border-box; 
}

.card:first-child {
    width: 70%; 
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
}

#web-links {
    margin-top: 12rem;
}

#date {
    color: darkblue;
}