@media (min-width: 54.5em) {

    header {
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }

    footer {
        padding: 30px;
    }
	#menu {
		display: none; 
	}

	.navigation {
        flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        gap: 1rem;
        padding: 1rem;
    }

    .gallery img {
        width: 70%; 
        height: auto;
        object-fit: cover; 
        border-radius: 5px; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    }
}
